:root {
    --blanco: #ffffff;
    --negro: #212121;
    --verde: #37f103;
    --rojo: #eb0f0f;
    --amarillo: #b8e90a;
    --azul: #0d09fd;
}
html{
    font-size: 62.5%;
}
body{
    background: #F2E8DC;
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
h1 {
    text-align: center;
    font-size: 2em;
}
.navegacion-principal {
    color: var(--blanco);
    text-align: center;
    font-size: 3rem;
}
.contenedor {
    width: 120rem;
    margin: 0 auto 3rem auto;
    padding: 1rem;
}
.nav-bg {
    background-color: var(--amarillo);
}
