:root {
    --pastel: #F2E8DC;
    --blanco: #ffffff;
    --negro: #212121;
    --verde: #37f103;
    --rojo: #eb0f0f;
    --barra: #0b3552;
    --azul: #0d09fd;
}
html{
    font-size: 62.5%;
}
body{
    background: var(--pastel);
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
h1 {
    text-align: center;
    font-size: 2em;
}
.navegacion-principal {
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
}
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.contenedor {
    width: 120rem;
    margin: 0 auto 3rem auto;
}
.nav-bg {
    background-color: var(--barra);
}
.navegacion-principal a:hover {
    background-color: var(--azul);
    color: var(--negro);
}