:root {
    --pastel: #F2E8DC;
    --blanco: #ffffff;
    --negro: #212121;
    --verde: #37f103;
    --rojo: #eb0f0f;
    --barra: #0b3552;
    --azul: #0d09fd;
    --paleta1: #79BAF2;
    --paleta2: #D9A74A;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background: var(--pastel);
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
h1 {
    text-align: center;
    font-size: 2em;
}
.navegacion-principal {
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    margin: 0rem 0rem 3rem 0rem;
}
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.contenedor {
    width: 120rem;
    margin: 0 auto 0rem auto;
}
.nav-bg {
    background-color: var(--barra);
}
.navegacion-principal a:hover {
    background-color: var(--azul);
    color: var(--negro);
}

.hero {
    background-image: url(../img/guerra.jpg);
    padding: 1rem 0rem 10rem 0rem;
    font-family: 'krub';
    background-repeat: no-repeat;
    background-size: cover ;
    height: 40rem; 
    position: relative;
}
.contenido-hero{
position: absolute;
background-color: rgba(0, 0, 0, .5);
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: baseline;
}
.contenido-hero h1,
.contenido-hero p{
    color: var(--blanco);
}
li{
    color: #ffffff;
    margin-top: 2rem;
}